@model CurriculumDavid.Models.ComLing

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ComLing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lingua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompreensaoOral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompreensaoOral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Leitura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leitura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProducaoOral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProducaoOral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteracaoOral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteracaoOral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Escrita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Escrita)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompetenciasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
